@import '~antd/dist/antd.less';
@primary-color: @yellow-6;
@border-radius-base: 0px;
@component-background : rgba(57, 32, 32, 0.865);
@text-color: #fff;
@item-active-bg : @yellow-6;
@item-hover-bg : @yellow-6;
@disabled-color : rgba(255, 255, 255, 0.4);
@disabled-bg : @background-color-base;
@background-color-light : @yellow-8 ;